<nav id="sidebar">
  <div class="sidebar-header">
    <a href="/" class="logo">Rubinius</a>
  </div>

  <div class="sidebar-footer">
    {% include lang_nav.html %}
    <div class="version">
      <a href="https://github.com/rubinius/rubinius/releases/tag/v2.2.10">2.2.10</a>
    </div>
  </div>

  <div class="sidebar-nav">
    <div role="search" id="search">
      <form action="/search" method="get">
        <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
      </form>
    </div>

    {% case page.lang %}
    {% when 'de' %}
      {% capture sidebar %}{% include index_de.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'en' %}
      {% capture sidebar %}{% include index_en.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'es' %}
      {% capture sidebar %}{% include index_es.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'fr' %}
      {% capture sidebar %}{% include index_fr.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'it' %}
      {% capture sidebar %}{% include index_it.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'ja' %}
      {% capture sidebar %}{% include index_ja.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'pl' %}
      {% capture sidebar %}{% include index_pl.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'pt_br' %}
      {% capture sidebar %}{% include index_pt_br.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% when 'ru' %}
      {% capture sidebar %}{% include index_ru.markdown %}{% endcapture %}
      {{ sidebar | markdownify }}
    {% endcase %}
  </div>
</nav>

