<div class="languages {{ page.lang }}">
  <span>{{ page.lang_label }}: </span>
  <div class="menu">
    {% for lang in page.languages %}
    {% capture oldurl_prefix %}/doc/{{ page.lang }}/{% endcapture %}
    {% capture newurl_prefix %}/doc/{{ lang }}/{% endcapture %}
    <a href="{% if page.lang != lang %} {{ page.url | replace_first: oldurl_prefix, newurl_prefix }} {% else %} # {% endif %}"
        {% if page.lang == lang %} class="current" {% endif %}>
        {{ lang }}
      </a>
    {% endfor %}
  </div>
</div>
