* {
  outline: 0;
  zoom: 1; *zoom: 1;
}

html {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  margin: 0; 
  padding: 0;
}

a:hover, a:focus {
  text-decoration: none;
}
