.documentation {
  background: white;
  margin-left: $sidebar-width;
  max-width: $doc-width;
}

#sidebar {
  background: white;
  border-right: 1px solid #dadfe5;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 00px;
  width: $sidebar-width;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
