.doc-wrapper {
  margin-left: $sidebar-width;
}

.doc {
  max-width: $doc-width;
  padding: 10px 40px;

  @media (max-width: $screen-lg) {
    width: auto;
  }
}

#sidebar {
  background: $sidebar-bg;
  border: 1px solid $sidebar-border-color;
  border-top: none;
  width: $sidebar-width;
  color: #ddd;
  padding-bottom: 45px;
  float: left;
  @include clearfix;
 }

.sidebar-header {
  text-align: center;
  height: $sidebar-header-height;
  position: relative;
  background-color: $sidebar-header-bg;

  .logo {
    background: url(/images/rubinius_logo.jpg) no-repeat 22px 20px;
    background-size: 20%;
    font-size: 36px;
    color: #222;
    font-weight: bold;
    text-shadow: #ccc 3px 3px 10px;
    font-family: Helvetica;
    letter-spacing: -0.06em;
    display: block;
    width: $sidebar-width;
    height: 90px;
    padding: 20px 90px;
  }
}

div[role=search] {
  text-align: center;
  margin: 15px 0;

  input {
    width: $sidebar-width - 20px;
    margin: 0 auto;
    border: 1px solid $sidebar-border-color;
    border-radius: 15px;
    padding: 2px 10px;
    font-weight: normal;
    color: #444;
  }
}

.sidebar-nav > p {
  padding: 5px $sidebar-padding;
  color: $brand-danger;
}

.sidebar-nav > ul {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style-type: none;

  li {
    a {
      display: block;
      padding: 5px $sidebar-padding;
      color: $sidebar-link-color;
      position: relative;
      font-weight: bold;

      &:hover {
        text-decoration: none;
        background: darken($sidebar-bg, 3%);
      }

      &.active {
        background: darken($sidebar-bg, 5%);
      }
    }
  }

  li ul {
    margin: 0;
    padding: 0;

    li a {
      font-weight: normal;
      padding-left: $sidebar-padding + 15;
      color: lighten($sidebar-link-color, 5%);

      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background: $sidebar-link-color;
        border-radius: 35px;
        position: absolute;
        left: 20px;
        top: 14px;
      }
    }
  }
}

.sidebar-footer {
  @include clearfix;
  padding: 10px $sidebar-padding;
  background: linear-gradient(white, #e0ecff);
  border-bottom: 1px solid #ccc;
  color: #444;

  .languages {
    font-size: 14px;
    position: relative;
    top: 8px;
    cursor: pointer;
    width: 100px;
    float: left;
    @include no-select;

    &.pt-br {
      width: 115px;
      &.open .menu { width: 135px; }
    }

    &.open {
      .menu {
        background: #fff;
        padding: 30px 10px 5px;
        top: -5px;
        z-index: 700;
        width: 120px;
        position: absolute;
        left: -10px;
        @include box-shadow(0 1px 5px rgba(0,0,0,0.1));
        border-radius: 4px;
      }

      a {
        display: block;

        &.current {
          top: 5px;
          right: 10px;
        }
      }
    }

    span {
      position: relative;
      z-index: 800;
    }

    a {
      display: none;
      text-transform: uppercase;

      &.current {
        display: block;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .version {
    float: right;
    a {
      background: linear-gradient(#ff8373, #ff1e00);
      color: #fff;
      padding: 5px 10px;
      border-radius: 8px 8px 0 0;
      font-weight: bold;
      font-size: 14px;
      top: 7px;
      position: relative;
    }
  }
}

.entires {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    font-size: 18px;
    padding: 10px 0;
  }
}

