.container {
}

.documentation {
  background: white;
  margin-left: 200px;
  max-width: 750px;
}

#sidebar {
  background: white;
  border-right: 1px solid #dadfe5;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 00px;
  width: 200px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
