.doc-wrapper {
  margin-left: $sidebar-width;
}

.doc {
  max-width: $doc-width;
  padding: 10px 40px;

  @media (max-width: $screen-lg) {
    width: auto;
  }
}

#sidebar {
  background: $sidebar-bg;
  border-right: 1px solid $sidebar-border-color;
  width: $sidebar-width;
  color: #ddd;
  padding-bottom: 45px;
  float: left;
 }

.sidebar-header {
  text-align: center;
  height: $sidebar-header-height;
  position: relative;
  background-color: $sidebar-header-bg;

  .logo {
    background: url(/images/rubinius_logo_black_on_white.png) no-repeat 22px 20px;
    background-size: 20%;
    font-size: 36px;
    color: #222;
    font-weight: bold;
    text-shadow: #ccc 3px 3px 10px;
    font-family: Helvetica;
    letter-spacing: -0.06em;
    display: block;
    width: $sidebar-width;
    height: 90px;
    padding: 20px 90px;
  }
}

div[role=search] {
  text-align: center;
  margin: 15px 0;

  input {
    width: $sidebar-width - 20px;
    margin: 0 auto;
    border: 1px solid $sidebar-border-color;
    border-radius: 15px;
    padding: 2px 10px;
    font-weight: normal;
    color: #444;
  }
}

.sidebar-links {
  padding: 0;
  margin: 0;
  margin-top: 10px;

  li {
    a {
      display: block;
      padding: 5px $sidebar-padding;
      color: $sidebar-link-color;
      position: relative;

      &:hover {
        text-decoration: none;
        background: darken($sidebar-bg, 3%);
      }
    }
  }

  li ul {
    margin: 0;
    padding: 0;

    li a {
      padding-left: $sidebar-padding + 15;
      color: lighten($sidebar-link-color, 5%);

      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background: $sidebar-link-color;
        border-radius: 35px;
        position: absolute;
        left: 20px;
        top: 14px;
      }
    }
  }
}

.sidebar-footer {
  @include clearfix;
  padding: 10px $sidebar-padding;
  background: linear-gradient(white, #e0ecff);
  border-bottom: 1px solid #ccc;
  color: #444;

  .languages {
    display: block;
    text-align: center;
    float: left;
    font-size: 14px;
    position: relative;
    top: 7px;

    a {
      display: inline-block;
      text-transform: uppercase;
      display: none;

      &.current {
        display: inline-block;
        font-weight: bold;
      }
    }
  }

  .version {
    float: right;
    a {
      background: linear-gradient(#ff8373, #ff1e00);
      color: #fff;
      padding: 5px 10px;
      border-radius: 8px 8px 0 0;
      font-weight: bold;
      font-size: 14px;
      top: 7px;
      position: relative;
    }
  }
}
