#enjoy a, footer a {
  padding: .25em;
  color: white;
  font-weight: bold;
}

#enjoy a:hover, footer a:hover {
  background: white;
  background: linear-gradient(white, #325986);
  color: #001a31;
  border-radius: .25em;
}

.alt {
  font-weight: normal !important;
}

.caption {
  text-align: center;
  font-size: 24px;
}

h2 {
  &.tag_line {
    font-size: 2em;
    letter-spacing: -1px;
    margin: -0.5em 0 0.75em 0.25em;
    padding: 0;
    color: #cccccc;
    border: 0 none;
    vertical-align: baseline;
  }
  //letter-spacing: -0.06em;
  letter-spacing: -1px;
  font-size: 3em;
  font-weight: bold;
}

h3 {
  //letter-spacing: -0.06em;
  letter-spacing: -1px;
  font-size: 3em;
  font-weight: bold;
}

h4 {
  font-size: 2em;
  margin: .5em 0;
  color: #666666;
}

.either_or {
  margin-top: -2em;
}

p.or {
  margin-top: 2em;
  text-align: center;
}

#sidebar.span-8.last h3 {
  color: #666666;
}

aside {
  background: #e0ecff;
  background: linear-gradient(#e0ecff, white);
  padding: 1em;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul a, li a {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
  }
}

header {
  background: url(/images/rubinius_logo_black_on_white.png) no-repeat left 75px;
  margin: 20px 0 0 0;
  padding-left: 125px;
  display: block;
  @include clearfix;

  nav {
    text-align: right;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      padding-bottom: 2em;
    }
    li {
      border-left: 1px solid #ccc;
      display: inline;
      font-weight: bold;
      list-style-type: none;
      margin: 0 0 0 .25em;
      padding: 0 0 0 .25em;
      text-align: right;
      padding: 0 .75em;
      white-space: pre;
      &:first-child {
        border: none;
        padding-right: 0;
        margin-right: 0;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      a {
        padding: .5em;
        color: #325986;
        &:hover { color: darken(#325986, 15%); }
      }
    }
  }
  h1 {
    text-shadow: #ccc 3px 3px 10px;
    font-size: 8.5em;
    font-weight: bold;
    //letter-spacing: -0.06em;
    margin: 0;
    color: #000;
    a {
      color: black;
      padding: 0;
      &:hover {
        color: black;
        background: none;
      }
    }
  }
  h2 {
    margin-top: -0.5em;
    margin-left: .25em;
    color: #cccccc;
  }
}

#version {
  text-align: right;
  margin-top: -15px;
  margin-left: 15px;
  float: right;
  a {
    background: #001a31;
    background: linear-gradient(#ff8373, #ff1e00);
    color: white;
    padding: 8px 20px;
    border-radius: 0 0 .25em .25em;
    letter-spacing: -0.04em;
    font-size: 2em;
    font-weight: bold;
  }
}

.stripe {
  margin: 5em auto;
  p {
    font-size: 1.5em;
  }
  h3 {
    text-align: center;
  }
}

#intro {
  background: #e0ecff;
  background: linear-gradient(white, #e0ecff);
  padding: 15px 0 0;
  border-bottom: 1px solid #ccc;
  p {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    padding: 8px 0 0 13px;
    line-height: 1.3em;
    &:last-child { margin: 0; }
  }
}

#steps {
  mark {
    font-weight: bold;
  }
  #download {
    p {
      margin: 0;
      text-align: center;
      color: #666666;
      margin: 5px 20px;
      font-size: 1.2em;
    }
    #tarball {
      font-size: 2em;
      font-weight: bold;
      margin: 0 0 .25em 0;
    }
    #installer {
      font-size: 1.3em;
      font-weight: bold;
      margin: 0 0 .25em 0;
    }
  }
  #build {
    p {
      text-align: center;
      color: #666666;
      margin: 5px 20px;
      font-size: 1.2em;
    }
    ol {
      margin: 0;
      list-style-type: none;
    }
    li {
      margin: 0;
      padding: 0;
      &:before {
        content: ">  ";
      }
    }
  }
  #report_bugs {
    #issue_tracker {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin: 0 0 .25em 0;
    }
    p {
      color: #666666;
      margin: 0 20px;
      font-size: 1.2em;
    }
  }
  #download, #build, #report_bugs {
    background-repeat: no-repeat;
    background-position: center top;
  }
}

#install li:before {
  content: "#  ";
}

#enjoy {
  padding: 3em 0 1em 0;
  background: #004480;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088ff), to(#004480));
  color: white;
  h3 {
    text-align: center;
    letter-spacing: .02em;
    color: white;
  }
  p {
    font-size: 2em;
  }
  #twitter {
    background: #001a31;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#001a31), to(#325986));
    margin: -3em 0 -5em 0;
    padding: 2em 2em 2em 2em;
    min-height: 35em;
    -moz-box-shadow: rgba(66, 66, 66, 1) 10px 10px 25px;
    -webkit-box-shadow: rgba(66, 66, 66, 1) 10px 10px 25px;
    border-bottom: 1px solid #001A31;
    border-right: 1px solid #001A31;
    h3 {
      margin-top: .25em;
      a {
        display: block;
        font-weight: normal;
        font-size: 75%;
      }
    }
    li {
      color: #cccccc;
      font-size: 1.5em;
      font-weight: normal;
      padding-left: -2em;
      margin: 0 0 1.25em -2em;
      list-style-type: none;
      a {
        &.alt {
          font-weight: normal;
          font-size: .6em;
        }
        &:hover {
          background: white;
          color: black;
        }
      }
    }
    #profileLink {
      text-align: center;
      display: block;
    }
  }
}

.explanation {
  .code, p {
    margin-bottom: 1em;
  }
}

#machine_readable {
  font-size: 1em;
}

p.more {
  font-size: 1.2em;
}

.translated {
  background: #f2f6ce;
  border-radius: .25em;
  color: #333333;
  display: block;
  padding: 1.5em;
  margin: 1.5em 0 1.5em 0;
}

.review {
  background: #f2f6ce;
  border-radius: .25em;
  color: #333333;
  display: block;
  padding: 1.5em;
  margin: 1.5em 0 1.5em 0;
  p {
    font-size: 1em;
    font-family: inconsolata, consolas, "deja vu sans mono", "droid sans mono", proggy, monofur, profont, monaco, "andale mono", courier, monospace;
    font-weight: normal !important;
    font-style: italic;
    margin: 0;
    padding: 0.25em 0 0.25em 0;
  }
}

.translated p {
  font-size: 1em;
  font-family: inconsolata, consolas, "deja vu sans mono", "droid sans mono", proggy, monofur, profont, monaco, "andale mono", courier, monospace;
  font-weight: normal !important;
  font-style: italic;
  margin: 0;
  padding: 0.25em 0 0.25em 0;
}

table.stack_effect {
  border: 1px solid #666;
  border-collapse: collapse;
  width: 20em;
  th, td {
    border: 1px solid #666;
    text-align: center;
    width: 50%;
  }
}

ul.insn_cross_ref {
  list-style: none;
}

a.instruction {
  color: black;
  padding: 0.5em 0 0.25em 0.25em;
  display: block;
  background: #dedede;
  background: linear-gradient(#fefefe, #dddddd);
  border-radius: 0.1em;
  font-family: 'Courier New', Courier;
  &:hover {
    text-decoration: none;
    color: black;
    padding: 0.5em 0 0.25em 0.25em;
    background: #dedede;
    background: linear-gradient(#fefefe, #dddddd);
    border-radius: 0.1em;
    font-family: 'Courier New', Courier;
  }
}

.blog_posts {
  h2 {
    &.post_title {
      margin-bottom: 0.25em;
    }
    a.post_title {
      font-weight: bold;
      letter-spacing: -0.04em;
      color: black;
      margin: -0.125em -0.25em -0.25em;
      padding: 0.125em 0.25em;
      display: inline-block;
    }
  }
  blockquote {
    font-style: normal;
  }
}

a.anchor_title {
  font-weight: bold;
  letter-spacing: -0.04em;
  color: black;
  margin-left: -0.25em;
  &:hover {
    background: none;
    color: black;
  }
}

div.post {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.home_page {
  margin-top: 3em;
  em, a em {
    font-weight: bolder;
  }
  p {
    font-size: 2.2em;
    line-height: 40px;
    margin-bottom: 40px;
    color: #454454;
  }
}

.comments {
  text-align: center;
  margin: 0 0 2em 0;
  background: #dedded;
  border-radius: .3em;
  p {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
  }
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */

#mc_embed_signup {
  form {
    display: block;
    text-align: left;
    padding: 0 0 0 10em;
    margin: 0 0 1em 0;
  }
  h2 {
    font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-size: 1.4em;
  }
  input {
    border: 1px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    &[type=checkbox] {
      -webkit-appearance: checkbox;
      -moz-appearance: none;
    }
    &[type=radio] {
      -webkit-appearance: radio;
      -moz-appearance: radio;
    }
    &:focus {
      border-color: #333;
    }
  }
  .button {
    clear: both;
    background: #001a31;
    background: linear-gradient(#ff8373, #ff1e00);
    color: white;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 39px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    &:hover {
      background-color: #ff1e00;
    }
  }
  .small-meta {
    font-size: 11px;
  }
  .nowrap {
    white-space: nowrap;
  }
  .clear {
    clear: none;
    display: inline;
  }
  label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  input {
    &.email {
      display: inline;
      padding: 8px 0;
      margin: 0 1em 0;
      text-indent: 5px;
      width: 58%;
      min-width: 130px;
    }
    &.button {
      display: inline;
      width: 14em;
      margin: 0;
    }
  }
  div {
    &#mce-responses {
      float: left;
      top: -1.4em;
      padding: 0em .5em 0em .5em;
      overflow: hidden;
      width: 90%;
      margin: 0 5%;
      clear: both;
    }
    &.response {
      margin: 1em 0;
      padding: 1em .5em .5em 0;
      font-weight: bold;
      float: left;
      top: -1.5em;
      z-index: 1;
      width: 80%;
    }
  }
  #mce-error-response {
    display: none;
  }
  #mce-success-response {
    color: #529214;
    display: none;
  }
  label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
  }
}

.blog_posts {
  ul li, ol li {
    font-size: 1.2em;
  }
  div.by_line span {
    &.author {
      font-size: 1.5em;
      font-weight: bold;
      color: #666666;
      display: inline;
      padding-right: 0.25em;
      border-right: 1px solid #cccccc;
    }
    &.date {
      font-size: 1.2em;
      color: #444444;
      padding-left: 0.25em;
    }
  }
}

#disqus_thread a:hover {
  color: #325986;
  text-decoration: underline;
}

.posts_index {
  font-size: 1.2em;
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0.25em 0 0.25em;
    }
  }
  a.post_title {
    font-size: 1.25em;
    margin-right: 0.5em;
  }
  span {
    &.author {
      font-weight: bold;
      color: #666666;
      display: inline;
      padding-right: 0.5em;
      border-right: 1px solid #cccccc;
    }
    &.date {
      color: #444444;
      padding-left: 0.25em;
    }
  }
}

.doc_page_nav {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  span.label {
    font-weight: bold;
  }
}

.blog_posts h2, .documentation h2, .blog_posts h3, .documentation h3, .blog_posts h4, .documentation h4, .blog_posts h5, .documentation h5, .blog_posts h6, .documantation h6 {
  font-weight: bold;
  letter-spacing: -0.04em;
}

.projects h2, .blog_posts h2, .documentation h2 {
  font-size: 3em;
}

.blog_posts h3, .documentation h3 {
  font-size: 2.4em;
}

.blog_posts h4, .documentation h4 {
  font-size: 2.0em;
}

.blog_posts h5, .documentation h5 {
  font-size: 1.6em;
}

.blog_posts h6, .documentation h6, .projects, .blog_posts, .documentation {
  font-size: 1.2em;
}

.blog_posts code, .documentation code {
  font-family: 'Courier New', Courier;
  font-size: 1.1em;
  line-height: 1.25em;
  border: none;
  background: none;
  display: inline;
  padding: 0;
}

.blog_posts pre, .documentation pre {
  font-size: 1.1em;
  margin-left: 2em;
}

.projects h3 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

.posts_nav nav a {
  font-size: 1.1em;
  font-weight: bold;
}

a#feed_icon:hover {
  background: white;
}

.languages nav span.label {
  font-weight: bold;
}

.posts_nav nav {
  text-align: right;
  margin-bottom: 1em;
}

.languages nav {
  text-align: right;
  margin-bottom: 1em;
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  li {
    border-left: 1px solid #ccc;
    display: inline;
    font-weight: bold;
    list-style-type: none;
    margin: 0 0 0 .25em;
    padding: 0 0 0 .25em;
    text-align: right;
    padding: 0 .75em;
    white-space: pre;
    &:first-child {
      border: none;
      padding-right: 0;
      margin-right: 0;
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
    a {
      padding: .5em;
      &.current {
        background: #325986;
        background: linear-gradient(#325986, #001a31);
        color: white;
        border-radius: .25em;
      }
    }
  }
}

.doc_menu a#documentation {
  background: #325986;
  background: linear-gradient(#325986, #001a31);
  color: white;
  border-radius: .25em;
}

.blog_menu a#blog {
  background: #325986;
  background: linear-gradient(#325986, #001a31);
  color: white;
  border-radius: .25em;
}

.diagram {
  text-align: center;
  letter-spacing: -0.04em;
  p {
    padding: 1em;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }
  .turret, .attic, .mezzanine, .basement {
    margin-bottom: 1em;
    background: red;
    border-radius: .25em;
  }
  .turret {
    background: #0088ff;
    background: linear-gradient(#e0ecff, #0088ff);
    color: white;
  }
  .attic {
    background: #325986;
    background: linear-gradient(#e0ecff, #325986);
    color: #e0ecff;
  }
  .mezzanine {
    background: #004480;
    background: linear-gradient(#0088ff, #004480);
    color: #e0ecff;
  }
  .basement {
    background: #001a31;
    background: linear-gradient(#004480, #001a31);
    color: #e0ecff;
  }
  #primitives {
    padding: 5.75em 0;
  }
  #extensions {
    padding: 9.75em 0;
  }
}

#compatibility {
  h4 {
    text-align: center;
  }
  li {
    color: #325986;
    display: inline;
    margin: 0;
    padding: 0 .25em 0 0;
    font-size: 4em;
    font-weight: bold;
    &:nth-child(odd) {
      font-size: 4em;
      font-weight: bold;
    }
    &:last-child {
      display: block;
      font-size: 3em;
      font-weight: normal;
      color: #cccccc;
    }
  }
  #compatible_projects {
    background: #e0ecff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0ecff), to(white));
    padding: 1em 2em;
    border-radius: .25em;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
  }
}

footer {
  text-align: center;
  background: #004480;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#325986), to(#001a31));
  margin-top: 3em;
  padding: 3em 0 1em 0;
  nav {
    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;
    }
  }
}

#docs_faq dl {
  dt {
    font-size: 2em;
    background: #e0ecff;
    color: #001a31;
    padding: .5em .5em .5em 15px;
    border-radius: .25em;
  }
  dd {
    font-size: 1.5em;
    margin: 0;
    padding: .5em .5em .5em 15px;
  }
}

.release {
  font-size: 1.5em;
}

/* #rbxday announcment... */

#announcement {
  + .container {
    padding-top: 60px;
  }
  a {
    padding: .5em 0;
    text-align: center;
    background: #E0ECFF;
    color: black;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid black;
    position: absolute;
    width: 100%;
    height: 35px;
    text-decoration: underline;
    &:hover {
      background: #325986;
      background: linear-gradient(#325986, #001a31);
      color: white;
      border-radius: .25em;
      border-radius: 0;
    }
  }
}

/* ...#rbxday announcment */
