@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

$font-family-sans-serif:  'Roboto', 'Helvetica', Arial, sans-serif !default;
$font-size-base:          15px !default;

$body-bg:                 #fff;

$container-large-desktop: 970px !default;
$container-tablet:        100% !default;

$sidebar-width:           280px;
$sidebar-padding:         20px;
$sidebar-bg:              #f1f1f1;
$sidebar-border-color:    #dedede;
$sidebar-link-color:      #444;
$sidebar-header-height:   80px;
$sidebar-header-bg:       #fff;

$doc-width:               750px;

$screen-xs:               480px !default;
$screen-xs-min:           $screen-xs !default;
$screen-phone:            $screen-xs-min !default;

$screen-sm:               768px !default;
$screen-sm-min:           $screen-sm !default;
$screen-tablet:           $screen-sm-min !default;

$screen-md:               992px !default;
$screen-md-min:           $screen-md !default;
$screen-desktop:          $screen-md-min !default;

$screen-lg:               1200px !default;
$screen-lg-min:           $screen-lg !default;
$screen-lg-desktop:       $screen-lg-min !default;

$screen-xlg:              1441px !default;
$screen-xlg-min:          $screen-lg !default;
$screen-xlg-desktop:      $screen-lg-min !default;

$screen-xs-max:           ($screen-sm-min - 1) !default;
$screen-sm-max:           ($screen-md-min - 1) !default;
$screen-md-max:           ($screen-lg-min - 1) !default;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin arrow($direction, $color, $width: 6px, $height: 8px){
  border-style: dashed;
  border-color: transparent;
  border-width: $width;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 10px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  @if $direction == 'up' {
    border-bottom-width: $height;
    border-bottom-style: solid;
    border-bottom-color: $color;
    top: 2px;
  } @else if $direction == 'right' {
    border-left-width: $height;
    border-left-style: solid;
    border-left-color: $color;
    top: 2px;
  } @else if $direction == 'down' {
    border-top-width: $height;
    border-top-style: solid;
    border-top-color: $color;
    top: 2px;
  } @else if $direction == 'left' {
    border-right-width: $height;
    border-right-style: solid;
    border-right-color: $color;
    top: 2px;
  }
}


