$container-desktop:   90% !default;
$container-tablet:    95% !default;

$screen-xs:           320px !default;
$screen-phone:        480px !default;
$screen-tablet:       768px !default;
$screen-desktop:      992px !default;
$screen-large:        1200px !default;

$screen-xs-min:       $screen-xs !default;
$screen-phone-min:    $screen-phone !default;
$screen-tablet-min:   $screen-tablet !default;
$screen-large-min:    $screen-large !default;

$screen-phone-max:    ($screen-phone-min - 1) !default;
$screen-tablet-max:   ($screen-tablet-min - 1) !default;
$screen-large-max:    ($screen-large-min - 1) !default;
