* {
  outline: 0;
  zoom: 1; *zoom: 1;
}

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  margin: 0; padding: 0;
}

