---
layout: page
languages:
  - de
  - en
  - es
  - fr
  - it
  - ja
  - pl
  - pt-br
  - ru
---

{% include doc_sidebar.html %}

<div class="doc-wrapper">
  <div class="doc" id="search-results" style="display: none;">
    <h2>Search results</h2>
    <ul class="entries"></ul>
  </div>
  <div class="doc">
    <h2>{{ page.title }}</h2>

    {% if page.translated %}
      {% include translated.html %}
    {% endif %}

    {% if page.review %}
      {% include review.html %}
    {% endif %}

    {{ content }}
  </div>
</div>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <li> 
      <a href="{{url}}">{{title}}</a>
      <p>{{body}}</p>
    </li>
  {{/entries}}
</script>
{% endraw %}
